<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title> Comics </title>

    <style type="text/css" media="all">
        body {
            margin: 0;
        }
        .container {
            margin: 0 auto;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #1D1B26;
        }
        .comics {
            margin-top: 12%;
            display: flex !important;
            flex-direction: row;
            flex-wrap: wrap;
            width: 90%;
        }
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5em;
            background-color: #F0131E;
            position: fixed;
            width: 100%;
            
        }
    </style>
  </head>
  <body>
    <div class="container">
        <%= render "shared/header" %>
        <div class="comics">
            <% @comics[:comics].each_with_index do |comic, index| %>
                <div style="margin-right:10px; width: 300px;">
                    <div style="display:flex;">
                        <a href="#" style="width: 10px">
                            <%= link_to image_tag(favorite_text), favorites_update_path(comic:comic), id:comic[:id], remote: true %>
                        </a>
                        <p style="color: white; margin-right:5px; margin-left: 15px;"><%= comic[:title] %></p>
                    </div>
                    <img src="<%= comic[:thumbnail] %>" style="width:200px"/>
                </div>
            <% end %>
        </div>
        <div class="footer">
            <%= render "shared/pagination" %>
        </div>
    </div>
  </body>